.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $bg-light;
  background-color: $color-f-green;

  padding: 0 1rem;

  .header_heading {
    cursor: pointer;

    .underline {
      display: block;
      width: 0px;
      height: 3px;
      background-color: $bg-light;
      transition: 0.6s;
    }

    &:hover .underline {
      width: 100%;
      transition: 0.6s ease-out;
    }

   
  }



  .shopping-cart {
    position: relative;
    width: 50px;

    .to-cart {
      width: 36px;
      height: 36px;
      margin: auto;
      background: url('../../svg/cart.svg') center/cover;
      cursor: pointer;

      &:hover {
        transform: scale(1.2);
        transition: 0.3s ease-in;
      }
    }
    .cart__totalcount{

      &_visible {
        position: absolute;
        right: 5px;
        top: 20px;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        border-radius: 50%;
        background-color: red;
        cursor: pointer;
      }

    }

    .cart__totalsum {
      display: block;
      text-align: center;
      transition: 0.3s ease-out;

      &_visible {
        padding-top: 10px;
        transition: 0.3s ease-in;

        &::before {
          content: '$';
        }
      }
    }

    .font-small {
      font-size: 10px;
    }
  }
}
