$dark: #244d4d;
$color-f-header: #242424;
$color-f-green: #154444;
$bg-light: #f4f6f6;
$color-f-disable: #d1cece;
$color-f-active: #666666;
$color-f: #383738;
$white: white;
$border-grey: #d9dce5;
$middle: #f4f6f6;
$color-bg: #fcfbff;

$shadow: 0px 13px 26px rgba(0, 0, 0, 0.07);

$desktop: 1440px;
$tablet: 980px;
$mobile: 638px;
$small-mobile: 340px;
