@import './vars';
@import './fonts';
@import './components/buttons';
@import './components/checkbox';
@import './components/dropdowns';
@import './components/footer';
@import './components/header';
@import './components/main';
@import './components/searchbar';
@import './components/scrollbar';
